---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9f8f47fb3e32f1750f453c411d6751d3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Tue, 25 Jul 2017 14:42:05 GMT
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '2017-07-25T15:10:40+00:00'
      Fastly-Debug-Digest:
      - 671da88c3ec81bbd101a0bb851a90184165c1f4f3599229b0eb782c555e41ae7
    body:
      encoding: UTF-8
      string: '{"total":0,"page":1,"per_page":25,"paging":{"next":null,"previous":null,"first":"/me/videos?page=1","last":"/me/videos?page=1"},"data":[]}'
  recorded_at: Tue, 25 Jul 2017 14:55:42 GMT
recorded_with: VCR 3.0.3
