---
http_interactions:
- request:
    method: post
    uri: https://api.vimeo.com/videos/219689930/comments
    body:
      encoding: UTF-8
      string: text=tester
    headers:
      Authorization:
      - Bearer 2081091e83977725227e878c4127ba39
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.vimeo.comment+json
      Location:
      - "/videos/219689930/comments/15844039"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '76'
      X-Ratelimit-Reset:
      - '2017-06-28T18:11:32+00:00'
      Fastly-Debug-Digest:
      - fc97db3d831762a16d37528795a1492a1afe070ba54a0b3cfb784b023c1e74cb
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/219689930/comments/15844039","type":"video","text":"tester","created_on":"2017-06-28T17:56:32+00:00","user":{"uri":"/users/59525702","name":"bo-oz","link":"https://vimeo.com/user59525702","location":"Lisse","bio":null,"created_time":"2016-11-25T08:25:49+00:00","account":"basic","pictures":{"uri":"/users/59525702/pictures/16670116","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/16670116_30x30"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/16670116_75x75"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/16670116_100x100"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/16670116_300x300"}],"resource_key":"6c034bedf4ab16a5448b37256b2521d04859ed4f"},"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/59525702/activities","options":["GET"]},"albums":{"uri":"/users/59525702/albums","options":["GET"],"total":3},"appearances":{"uri":"/users/59525702/appearances","options":["GET"],"total":0},"categories":{"uri":"/users/59525702/categories","options":["GET"],"total":1},"channels":{"uri":"/users/59525702/channels","options":["GET"],"total":0},"feed":{"uri":"/users/59525702/feed","options":["GET"]},"followers":{"uri":"/users/59525702/followers","options":["GET"],"total":0},"following":{"uri":"/users/59525702/following","options":["GET"],"total":0},"groups":{"uri":"/users/59525702/groups","options":["GET"],"total":1},"likes":{"uri":"/users/59525702/likes","options":["GET"],"total":1},"moderated_channels":{"uri":"/users/59525702/channels?filter=moderated","options":["GET"],"total":0},"portfolios":{"uri":"/users/59525702/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/59525702/videos","options":["GET"],"total":23},"watchlater":{"uri":"/users/59525702/watchlater","options":["GET"],"total":1},"shared":{"uri":"/users/59525702/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/59525702/pictures","options":["GET","POST"],"total":1},"watched_videos":{"uri":"/me/watched/videos","options":["GET"],"total":16}}},"preferences":{"videos":{"privacy":"anybody"}},"content_filter":["language","drugs","violence","nudity","safe","unrated"],"upload_quota":{"space":{"free":524288000,"max":524288000,"used":0},"quota":{"hd":true,"sd":true}},"resource_key":"501e23829d674b41de7e7d431743accd2c552cd8"},"metadata":{"connections":{"replies":{"uri":"/videos/219689930/comments/15844039/replies","options":["GET","POST"],"total":0}}},"resource_key":"d5f95b94aa2dd6fc7d32f212dd5270d00dca2c12"}'
  recorded_at: Wed, 28 Jun 2017 17:56:30 GMT
recorded_with: VCR 3.0.3
