---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me/videos/219689930
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2081091e83977725227e878c4127ba39
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '74'
      X-Ratelimit-Reset:
      - '2017-06-28T18:03:25+00:00'
      Fastly-Debug-Digest:
      - 38704e634a0fb25292dd17b3bd033e6a7793b7ab598e279fe3ce1674ae07aef9
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/219689930","name":"test2.mp4","description":"test","link":"https://vimeo.com/219689930","duration":2,"width":320,"language":null,"height":240,"embed":{"uri":null,"html":"<iframe
        src=\"https://player.vimeo.com/video/219689930?badge=0&autopause=0&player_id=0\"
        width=\"320\" height=\"240\" frameborder=\"0\" title=\"new name\" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>","buttons":{"like":true,"watchlater":true,"share":true,"embed":true,"hd":false,"fullscreen":true,"scaling":true},"logos":{"vimeo":true,"custom":{"active":false,"link":null,"sticky":false}},"title":{"name":"user","owner":"user","portrait":"user"},"playbar":true,"volume":true,"color":"00adef"},"created_time":"2017-05-31T14:14:41+00:00","modified_time":"2017-06-28T17:38:12+00:00","release_time":"2017-05-31T14:14:41+00:00","content_rating":["unrated"],"license":null,"privacy":{"view":"anybody","embed":"public","download":true,"add":true,"comments":"anybody"},"pictures":null,"tags":[],"stats":{"plays":0},"metadata":{"connections":{"comments":{"uri":"/videos/219689930/comments","options":["GET","POST"],"total":0},"credits":{"uri":"/videos/219689930/credits","options":["GET","POST"],"total":1},"likes":{"uri":"/videos/219689930/likes","options":["GET"],"total":0},"pictures":{"uri":"/videos/219689930/pictures","options":["GET","POST"],"total":0},"texttracks":{"uri":"/videos/219689930/texttracks","options":["GET","POST"],"total":0},"related":null},"interactions":{"watchlater":{"uri":"/users/59525702/watchlater/219689930","options":["GET","PUT","DELETE"],"added":false,"added_time":null}}},"user":{"uri":"/users/59525702","name":"bo-oz","link":"https://vimeo.com/user59525702","location":"Lisse","bio":null,"created_time":"2016-11-25T08:25:49+00:00","account":"basic","pictures":{"uri":"/users/59525702/pictures/16670116","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/16670116_30x30"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/16670116_75x75"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/16670116_100x100"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/16670116_300x300"}],"resource_key":"6c034bedf4ab16a5448b37256b2521d04859ed4f"},"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/59525702/activities","options":["GET"]},"albums":{"uri":"/users/59525702/albums","options":["GET"],"total":3},"appearances":{"uri":"/users/59525702/appearances","options":["GET"],"total":0},"categories":{"uri":"/users/59525702/categories","options":["GET"],"total":1},"channels":{"uri":"/users/59525702/channels","options":["GET"],"total":0},"feed":{"uri":"/users/59525702/feed","options":["GET"]},"followers":{"uri":"/users/59525702/followers","options":["GET"],"total":0},"following":{"uri":"/users/59525702/following","options":["GET"],"total":0},"groups":{"uri":"/users/59525702/groups","options":["GET"],"total":1},"likes":{"uri":"/users/59525702/likes","options":["GET"],"total":1},"moderated_channels":{"uri":"/users/59525702/channels?filter=moderated","options":["GET"],"total":0},"portfolios":{"uri":"/users/59525702/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/59525702/videos","options":["GET"],"total":24},"watchlater":{"uri":"/users/59525702/watchlater","options":["GET"],"total":1},"shared":{"uri":"/users/59525702/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/59525702/pictures","options":["GET","POST"],"total":1},"watched_videos":{"uri":"/me/watched/videos","options":["GET"],"total":16}}},"preferences":{"videos":{"privacy":"anybody"}},"content_filter":["language","drugs","violence","nudity","safe","unrated"],"upload_quota":{"space":{"free":524288000,"max":524288000,"used":0},"quota":{"hd":true,"sd":true}},"resource_key":"501e23829d674b41de7e7d431743accd2c552cd8"},"app":{"name":"Test
        for student app","uri":"/apps/93887"},"status":"available","resource_key":"816f52e9801549dcda38f637b61d53af76a5fbac","embed_presets":null}'
  recorded_at: Wed, 28 Jun 2017 17:48:24 GMT
- request:
    method: get
    uri: https://api.vimeo.com/me/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9f8f47fb3e32f1750f453c411d6751d3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Tue, 25 Jul 2017 14:42:05 GMT
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '2017-07-25T15:10:40+00:00'
      Fastly-Debug-Digest:
      - 671da88c3ec81bbd101a0bb851a90184165c1f4f3599229b0eb782c555e41ae7
    body:
      encoding: UTF-8
      string: '{"total":0,"page":1,"per_page":25,"paging":{"next":null,"previous":null,"first":"/me/videos?page=1","last":"/me/videos?page=1"},"data":[]}'
  recorded_at: Tue, 25 Jul 2017 14:55:42 GMT
recorded_with: VCR 3.0.3

