---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me/videos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9f8f47fb3e32f1750f453c411d6751d3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Tue, 25 Jul 2017 14:42:05 GMT
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '2017-07-25T19:39:09+00:00'
      Fastly-Debug-Digest:
      - 1a5058db3282d500f8694dd97086fb267e4f5742d422d4cc114e8c4eaf0f1284
    body:
      encoding: UTF-8
      string: '{"total":0,"page":1,"per_page":100,"paging":{"next":null,"previous":null,"first":"/me/videos?per_page=100&page=1","last":"/me/videos?per_page=100&page=1"},"data":[]}'
  recorded_at: Tue, 25 Jul 2017 19:24:13 GMT
recorded_with: VCR 3.0.3
